@import url{/styles/apresentacao.css} ;
@import url{/styless/header.css} ;

    :root {
--cor-1: #04000B;
        --cor-2: #242833;
        --cor-3: #3D4EC;
            --cor-4: #74A4A6;
            --cor-5: #9DD1C3;
    --cor-preta: #000000;
        --cor-branca: FFFFFF;
    }
